---
import Layout from "../layouts/Layout.astro"
import ProjectCard from '../components/cards/ProjectCard';
---

<Layout>
    <section
        class='px-6 w-full pt-14 md:pt-16 lg:pt-24'
    >
        <div class='flex gap-2 text-sm'>
            <a href='/'>Home</a>
            <p>/</p>
            <a class='cursor-default font-bold'>Projects</a>
        </div>
        <div
            data-aos='fade-up'
            class='pt-6 sm:flex sm:justify-between sm:items-center md:pt-6 lg:pt-8'
        >
            <div>
                <h2 class=' text-2xl font-bold pb-2'>Meus Projetos</h2>
                <p>Utilzando as melhores ferramentes!</p>
            </div>
        </div>
        <div>
            <div
                id='project-card-container'
                class='grid gap-4 py-16 sm:grid-cols-2 xl:grid-cols-3 xl:gap-6'
            >
                <ProjectCard
                    image='user-authentication.png'
                    title='Autenticação de Usuário com FastAPI'
                    description='Sistema full-stack para autenticação usando FastAPI'
                    url='https://github.com/saviobandeira/user-authentication'
                />
                <ProjectCard
                    image='ph-link.png'
                    title='Catálogo Online'
                    description='Catálogo digital personalizado para divulgação de produtos'
                    url='https://paulotrindade.vercel.app/'
                />
                <ProjectCard
                    image='sicont-auto.png'
                    title='SiCont Auto'
                    description='Automação do sistema de contabilidade da Sudoeste Informática'
                    url='https://github.com/saviobandeira/sicont-auto'
                />
                <ProjectCard
                    image='pedeja-wppbot.png'
                    title='PedeJá'
                    description='Automação do WhatsApp Web para auto atendimento'
                    url='https://github.com/saviobandeira/pedeja_wppbot'
                />
                <ProjectCard
                    image='meu-portifolio.png'
                    title='Meu Portifólio'
                    description='Site responsivo para organização e apresentação de projetos'
                    url='https://github.com/saviobandeira/savio-portfolio'
                />
            </div>
        </div>
    </section>
</Layout>