---
import Layout from "../layouts/Layout.astro"
import ProjectCard from '../components/cards/ProjectCard';
---

<Layout>
    <section
        class='px-6 w-full pt-14 md:pt-16 lg:pt-24'
    >
        <div class='flex gap-2 text-sm'>
            <a href='/'>Home</a>
            <p>/</p>
            <a class='cursor-default font-bold'>Projects</a>
        </div>
        <div
            data-aos='fade-up'
            class='pt-6 sm:flex sm:justify-between sm:items-center md:pt-6 lg:pt-8'
        >
            <div>
                <h2 class=' text-2xl font-bold pb-2'>Meus Projetos</h2>
                <p>Utilzando as melhores ferramentes!</p>
            </div>
        </div>
        <div>
            <div
                id='project-card-container'
                class='grid gap-4 py-16 sm:grid-cols-2 xl:grid-cols-3 xl:gap-6'
            >
                <ProjectCard
                    image='example.png'
                    title='whatsapp API'
                    description='Sistema de auto atendimento'
                />

                <ProjectCard
                    image='example.png'
                    title='whatsapp API'
                    description='Sistema de auto atendimento'
                />

                <ProjectCard
                    image='example.png'
                    title='Whatsapp API'
                    description='Sistema de auto atendimento'
                />

                <ProjectCard
                    image='example.png'
                    title='Whatsapp API'
                    description='Sistema de auto atendimento'
                />

                <ProjectCard
                    image='example.png'
                    title='Whatsapp API'
                    description='Sistema de auto atendimento'
                />

                <ProjectCard
                    image='example.png'
                    title='Whatsapp API'
                    description='Sistema de auto atendimento'
                />

                <ProjectCard
                    image='example.png'
                    title='Whatsapp API'
                    description='Sistema de auto atendimento'
                />

                <ProjectCard
                    image='example.png'
                    title='Whatsapp API'
                    description='Sistema de auto atendimento'
                />

                <ProjectCard
                    image='example.png'
                    title='Whatsapp API'
                    description='Sistema de auto atendimento'
                />
            </div>
        </div>
    </section>
</Layout>